* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #f4f4f8;
	font-family: 'Raleway', sans-serif;
	font-weight: 500;
	min-height: 100vh;
	transition: all 0.3s;
	position: relative;
}

a, button {
	text-decoration: none;
	display: inline-block;
	padding: 10px 20px;
	border-radius: 30px;
	transition: all 0.3s;
}

.search-corner {
	width: 60%;
	margin: 0 auto;
	text-align: center;
	position: relative;
	padding-top: 15%;
	.search-box {
		position: relative;
		input {
			width: 100%;
			border: none;
			font-family: 'Raleway';
			font-weight: 300;
			font-size: 24px;
			padding: 10px 30px;
			border-radius: 30px;
			outline: none;
			box-shadow: 1px 3px 24px 3px #c4d5ef;
			transition: box-shadow 0.3s;
			&:focus {
				box-shadow: 1px 3px 40px 5px #c4d5ef;
			}
		}
		button {
			position: absolute;
			right: 0;
			top: 0;
			border: none;
			outline: none;
			background-color: #FF681D;
			font-family: 'Raleway';
			font-size: 24px;
			font-weight: 500;
			text-align: center;
			color: #fff;
			&:hover {
				background-color: darken(#FF681D, 10%);
			}
		}
	}
	&>p {
		padding-top: 30px;
		a {
			border: 1px solid #FF681D;
			color: #FF681D;
			font-weight: 500;
			margin: 20px 0 50px;
			&:hover {
				background-color: #FF681D;
				color: #fff;
				box-shadow: 1px 3px 20px 1px #ff8c54;
				transform: scale(1.1);
			}
		}
	}
	.search-result > div {
		background-color: #fff;
		padding: 10px 20px;
		margin: 30px 10px;
		border-radius: 6px;
		transition: all 0.3s;
		text-align: left;
		a {
			padding-left: 0;
			font-size: 18px;
			font-weight: 700;
			&:hover{
				color: #FF681D;
			}
		}
		&>p {
			font-size: 15px;
			font-weight: 500;
		}
		&:hover {
			box-shadow: 1px 3px 40px 5px #c4d5ef;
		}
	}
}

footer {
	.love {
		padding-top: 30px;
		font-weight: 500;
		font-size: 14px;
		text-align: center;
		a {
			padding: 0 0 20px;
			&:hover{
				color: #FF681D;
			}
		}
		.material-icons {
			color: #FF681D;
			font-size: 16px;
			animation: heartbeat 3s infinite;
		}
	}
	.notice {
		width: 70%;
		margin: 0 auto;
		border: 2px solid #c4d5ef;
		border-radius: 8px;
		padding: 8px;
		text-align: center;
		font-size: 14px;
	}
}

// *****************Media Queries for Responsive Layout

@media (max-width: 576px) {
	.search-corner {
		width: 80%;
		padding-top: 30%;
		.search-box {
			input, button {
				font-size: 18px;
			}
		}
		p > a {
			font-size: 14px;
		}
	}

	footer {
		font-size: 12px;
	}
}

@media (max-width: 321px) {
	.search-corner {
		width: 90%;
		p > a {
			font-size: 12px;
		}
	}
}


//Alternate layout using CSS Grid for the browsers that supports it.
@supports (display: grid) {
	body {
		display: grid;
		grid-template-columns: 1fr 2fr 1fr;
		grid-template-rows: 1fr auto;
	}

	.search-corner {
		grid-column: 2;
		align-self: center;
		justify-self: center;
		width: 90%;
		padding-top: 0;
	}

	footer {
		grid-column: 2;
		align-self: end;
		justify-self: center;
		.notice {
			display: none;
		}
	}

	@media (max-width: 921px) {
		body {
			grid-template-columns: 0.2fr 1fr 0.2fr;
		}
	}

	@media (max-width: 576px) {
		body {
			grid-template-columns: 0 1fr 0;
		}
	}
}


/*Beating heart animation keyframe*/
@keyframes heartbeat {
	0% {
		transform: scale(1.0);
	}
	5% {
		transform: scale(1.3);
	}
	10% {
		transform: scale(1.1);
	}
	20% {
		transform: scale(1.5);
	}
	30% {
		transform: scale(1.0);
	}
	100% {
		transform: scale(1.0);
	}
}