* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #f4f4f8;
	/*font-family: 'Josefin Sans', sans-serif;*/
	font-family: 'Raleway', sans-serif;
	display: grid;
	grid-template-columns: 1fr 2fr 1fr;
	height: 100vh;
}

a {
	text-decoration: none;
	display: inline-block;
	padding: 10px 20px;
	border-radius: 30px;
	transition: all 0.3s;
}

.search-corner {
	width: 80%;
	// margin: 20% auto 0;
	text-align: center;
	grid-column: 2;
	align-self: center;
	justify-self: center;
	.search-box {
		position: relative;
		margin-bottom: 20px;
		input {
			// display: inline-block;
			width: 100%;
			border: none;
			font-family: 'Raleway';
			/*font-weight: 300;*/
			font-size: 24px;
			padding: 10px 30px;
			border-radius: 30px;
			outline: none;
			// position: relative;
			box-shadow: 1px 3px 24px 3px #c4d5ef;
			transition: box-shadow 0.3s;
			&:focus {
				box-shadow: 1px 3px 40px 5px #c4d5ef;
			}
		}
		a {
			position: absolute;
			// width: 30%;
			right: 0;
			top: 0;
			background-color: #5D9FFF;
			font-size: 24px;
			text-align: center;
			color: #fff;
			&:hover {
				background-color: darken(#5D9FFF, 15%);
			}
		}
	}
	p > a {
		border: 1px solid #FF4300;
		color: #FF4300;
		font-weight: 500;
		margin-top: 20px;
		&:hover {
			background-color: #FF4300;
			color: #fff;
			box-shadow: 1px 3px 20px 2px #ff837b;
		}
	}
}
